.category {
    height: 573px;
    width: 100vw;
    padding: 64px 108px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category__heading-text {
    color: var(--black);
    line-height: 50px;
    font-size: 38px;
    font-family: rubik;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.category__heading-text span {
    color: var(--primary);
}

.category__card-list {
    display: flex;
    padding: 10px;
    padding-left: 0;
    gap: 10px;
    height: 215px;
    overflow-x: auto;
    position: relative;
    /* background-color: yellow; */
}

.category__card-list::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.category__card {
    width: 230px;
    height: 175px;
    border-radius: 8px;
    background: aqua;
    transition: height 0.3s ease;
    padding: 30px 81px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.category__card:hover {
    height: 195px;
    background-image: url('../../../public/asset/image/bg-hover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.category__card-img {
    height: 47px;
    width: 47px;
}

.category__card-name {
    font-size: 16px;
    font-weight: 500;
    font-family: rubik;
    color: var(--black);
    text-align: center;
    line-height: 22px;
}

.category__card-items {
    width: 230px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--black);
}

.category__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 13px;
    margin-right: 108px;
}

.category__button {
    width: 113px;
    height: 50px;
    background: #8BAC3E;
    border-radius: 100px;
    border: none;
    color: white;
    font-family: rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.category__button-icon {
    width: 33px;
    height: 33px;
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .category {
        height: 473px;
        padding: 64px 50px;
        padding-right: 0;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .category {
        height: 453px;
        padding: 34px 20px;
        padding-right: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .category {
        height: 400px;
        padding: 20px 0;
        justify-content: space-around;

    }
    .category__heading{
        padding:0 33px;
    }

    .category__heading-text {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }

    
    .category__buttons {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .category {
        height: 400px;
        padding: 20px 0;
        justify-content: space-around;

    }
    .category__heading{
        padding:0 20px;
    }

    .category__heading-text {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }
    
    .category__buttons {
        display: none;
    }
}