@font-face {
  font-family: 'rubik';
  src: url('../../public/asset/font/rubik.ttf') format('truetype');
}

:root {
  --primary: #8BAC3E;
  --text-grey: #757575;
  --black:#333333;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* .App{
  width: 100vw;
} */

html {
  /* 10/16 * 100 */
  /* font-size: 62.5%; */
}

body {
  font-family: 'rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  position: fixed;
  z-index: 10;
  padding: 0 108px;
  width: 100vw;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.navbar__menu {
  width: auto;
}

.navbar__menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 32px;
}

.navbar__menu-item {
  color: var(--text-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  font-family: rubik;
}

.navbar__menu-item--promotions {
  position: relative;
}

.navbar__menu-item-badge {
  position: absolute;
  top: -15px;
  right: -8px;
  width: 36px;
  height: 19px;
  background-color: #E7462D;
  color: white;
  font-size: 8px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.navbar__auth {
  display: flex;
  gap: 24px;
}

.navbar__auth-button {
  border: none;
  background-color: none;
}

.navbar__auth-button--signin {
  font-size: 14px;
  font-weight: 500;
  font-family: rubik;
  background-color: transparent;
}

.navbar__auth-button--signup {
  font-size: 14px;
  font-weight: 500;
  background-color: var(--primary);
  color: white;
  font-family: rubik;
  border: none;
  border-radius: 100px;
  padding: 10px;
}

/* Hero */

.hero {
  position: relative;
  width: 100vw;
  height: 653px;
  z-index: 1;
}

.hero__bg {
  position: absolute;
  z-index: -1;
  opacity: 2%;
}

.hero__content {
  height: 100%;
  /* background-color: brown; */
  padding: 0 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__left {
  width: 482px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero__left-title {
  font-size: 64px;
  line-height: 64px;
  color: var(--primary);
  font-weight: 500;
  font-family: rubik;
  display: flex;
  flex-direction: column;
}


.hero__left-desc {
  font-family: rubik;
  font-size: 18px;
  color: var(--text-grey);
  font-weight: 400;
}

.hero__left-buttons {
  display: flex;
  gap: 16px;
}

.hero__left-button {
  font-size: 14px;
  font-weight: 500;
  font-family: rubik;
  border: none;
  border-radius: 100px;
  padding: 10px;
}

.hero__left-button--signup {
  background-color: var(--primary);
  color: white;
  box-shadow: 0px 8px 32px rgba(102, 107, 226, 0.35);
}

.hero__left-button--about {
  background-color: #F2F2F2;
  color: var(--black);
}

.hero__right {
  position: relative;
  /* background-color: brown; */
  height: 100%; 
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.hero__card {
  width: 292px;
  height: 93px;
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(11px);
  border-radius: 17px;
  display: flex;
  padding: 18px 23px;
  z-index:3;
  margin-bottom:  57px;
  gap: 19px;
}

/* .hero__card-content{
  gap:9px;
  display: flex;
  flex-direction: column;
} */

.hero__card-image {
  width: 53px;
  height: 53px;
}

.hero__card-title {
  font-family: rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.hero__card-subtitle{
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: var(--text-grey);
margin-bottom: 9px;
}

.hero__img{
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__img-bg{
  height: 518px;
  width: 518.px;
  opacity: 4%;
}

.hero__img-salad{
  position: absolute;
  height: 414px;
  width: 412px;
}

@media screen and (min-width: 1025px) {
  body{
    width: 100vw;
  }
  /* .category{
    display: none;
  } */
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
